# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


#Custom
tester
add-user
add-group
add-file
add-right
import-users
import-groups
add-catalog
add-revision
sha512sum
add-file-advanced
